body{
  padding-top: 100px;
    background-image: url();
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.login-areia {
  margin-left: 15%;
  height: 310px;
  width: 450px;
  padding: 10px 10px 10px 10px;
  box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
-webkit-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
-moz-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
}
h4.text-center.welcome {
  padding: 15px;
}

.login-areia input{
  padding: 15px !important;
  margin: 0;
  font-size: 20px !important;
  border-radius: 15px !important;
  border: 1px solid #fff !important;
  background: rgb(247,237,237);
background: linear-gradient(90deg, rgba(247,237,237,1) 0%, rgb(193, 248, 156) 99%, rgb(150, 219, 233) 100%);
outline: none;
}
button#login {
  margin-left: 80%;
    margin-top: 10%;
}
.btn-lv {
  margin-left: 40%;
  padding: 9px 31px 14px 29px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #ff0;
    
}

.transection-area {
  display: none;
  height: 400px;
  width: 700px;
  margin-left: 20%;
  box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
  -webkit-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.
  29);
  -moz-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
}
.withdr {
  margin-top: 14%;
  width: 200px;
  text-align: center;
  margin-left: 11%;  box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
  -webkit-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.
  29);
  -moz-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
}
.dps {
  margin-top: 15%;
  margin-left: 21%;
  width: 200px;
  text-align: center !important;
  box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
  -webkit-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.
  29);
  -moz-box-shadow: -1px 7px 30px 2px rgba(138,118,118,0.29);
}
.box {
  padding: 20px 25px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.deposit{
  background: blue;
}
.withdraw{
  background: orangered;
}
.balance{
  background: green;
}